*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

dl, ol, ul {
    margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 70px;
}
/* .navlinks .link{
    padding: 20px 6px;
} */

.navlinks .link:hover{
    background-color: rgb(229, 245, 240);
}

.navlinks a{
   color: #625A64;
   font-size: 17px;
   font-weight: 400;
   text-decoration: none;
}

.navlinks button{
    background-color: #E7332B;
    color: #fff;
    padding: 10px  35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 0 0  10px 0;
    cursor: pointer;
}

.firstSection{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 7rem;
    gap:10rem;
    width: 100%;
}

.firstSection h1{
    font-weight: 600;
}

.firstSection p{
    color: #9a959b;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0;
}

.section1Image{
    width: 75%;
}

.section1Image img{
    width: 95%;
    margin-left: 23px
}

.thick2rightIcon {
    position: absolute;
    left: 42.5%;
    top: 37%;
    width: 7% ;
}

.line1LeftIcon {
    position: absolute;
    bottom: 35%;
    right: 0;
    width: 11%;
    z-index: -1;
}

/* Using bootsrap to add a toggle box effect */
.toggleButton1{
    background-color: #E7332B;
    color: #fff;
    padding: 10px  35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 0 0  10px 0;
    cursor: pointer;
    margin-right: 10px;
}

.toggleButton2{
    background-color: #585858;
    color: #fff;
    padding: 10px  35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 0 0  10px 0;
    cursor: pointer;
    margin-right: 10px;
}

.toggleButton1:hover{
    box-shadow: 0 2px 5px 1px rgb(168, 167, 167);
}
.toggleButton2:hover{
    box-shadow: 0 2px 5px 1px rgb(168, 167, 167);
}

.modal-header{
    display: block;
    padding: 0;
}

.modal-content{
    padding: 5rem  3rem 3rem;
    border-radius: 15px ;
}

.modal-header > h5{
    text-align: center;
    justify-content: center;
    font-size: 35px; 
    font-weight: 700;
}

.modal-body{
    text-align: center;
    justify-content: center;
}

.modal-body p{
  color: rgb(48, 47, 47);
}

.modal-footer {
    border-top:none;
}

.modal-header {
    border-bottom:none;
}

.form1 button{
    background-color: #E7332B;
    color: #fff;
    padding: 9px  50px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 0 0  10px 0;
    cursor: pointer;
    margin-right: 10px;
}

.form2 button{
    background-color: #E7332B;
    color: #fff;
    padding: 9px  50px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 0 0  10px 0;
    cursor: pointer;
    margin-right: 10px;
}

.form3 button{
    background-color: #E7332B;
    color: #fff;
    padding: 9px  50px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 0 0  10px 0;
    cursor: pointer;
    margin-right: 10px;
}

.form1 button:hover{
    box-shadow: 0 2px 5px 1px rgb(168, 167, 167);
}

.form2 button:hover{
    box-shadow: 0 2px 5px 1px rgb(168, 167, 167);
}

.form3 button:hover{
    box-shadow: 0 2px 5px 1px rgb(168, 167, 167);
}
/* stops here */

#middleSection{
    display: flex;
    background: url(/Images/bgsection2\ \(1\).png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding:  6rem  5rem; 
    gap: 30px;
}

.secondSectionTxt{
    width: 75%;
}

.secondSectionTxt h1{
    font-size: 40px;
    font-weight: 600;
}

.secondSectionTxt h5{
    font-size: 20px;
    font-weight: 600;
}

.countryLogo{
    display: flex;
    gap: 5px;
}

.countryLogo img{
   background-color: #fff;
   height: 80%;
   padding: 15px;
   border-radius: 8px;
}

.leftImageTag{
    width: 50%;
}

.leftImageTag img{
    width: 100%;
}

.thirdSection{
    padding:5rem;
    position: relative;
    z-index: 2;
}

.thirdSection h1{
   width: 50%;
   font-size: 40px;
   font-weight: 600;
}

.whyUsSection1{
    display:flex;
    flex-flow: row wrap;
    margin: 40px 0;
    gap: 30px;
}

#layout1 p{
    border-radius: 8px;
    box-shadow:  2px 1px 15px rgb(231, 229, 229);
    padding: 15px  30px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: #9a959b;
    position: relative;
    z-index: -1;
}

.whyUsSection2{
    display:flex;
    flex-flow: row wrap;
    gap: 30px;
    margin-top: 40px;
}

#layout2 p {
    box-shadow:  2px 1px 15px rgb(231, 229, 229);
    text-align: center;
    padding:15px 18px;
    border-radius:8px ;
    font-size: 17px;
    font-weight: 400;
    color: #9a959b;
}

#layout2 p:hover, #layout1 p:hover { 
    cursor: pointer;
    transform: translateY(-25%);
    transition: .3s;
}


.line1IconTag {
    position: absolute;
    right: 0;
    top: 25%;
    width: 22.6%;
}

#finalSection{
    background-color: #FFF8E5;
    padding: 5rem;
    text-align: center;
}

.fourthSectionTxt h1{
    font-size: 40px;
    font-weight: 600;
}

.ropeImage  {
   position: relative;
}

.rope1 {
    position:absolute;
    left: 0;
    top: 45%;
}

.fourthSection1{
    margin: 50px 30px;
    position: relative;
}

.fourthSection1 p{
    font-size: 17px;
    margin-top: 15px;
}

.fourthSection2 p{
    font-size: 17px;
    margin-top: 15px;
}

.pl-2{
    background-color: #fff;
    border-radius: 0 0 20px 0;
    padding: 2rem;
    height: 300px;
    margin-bottom: 50px;
}
.pl-2 p{
    padding: 0 30px;
    font-size: 17px;
    color: #9a959b;
}
 
.pl-2:hover{
    background-color: #161617;
    color: #fff;
}

#footerSection{
    background-color: #161617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5px ;
    padding-left: 4rem;
    padding-right: 4rem;
    color: #fff;
}

.footerLogoSection p{
    margin-top: 50px;
}

.footermedia i{
    font-size: 35px;
}

.footermedia p{
    margin-top: 50px;
    text-align: center;
}

.footermedia a{
    color: #CECECE;
}

.bottomCopyright,.horizontalRule{
    display: none;
}



@media screen and (max-width:992px) {
    .navbar{
        padding: 1rem 3rem;
    }

    .navlinks{
        gap: 50px;
    }

    .navlinks a{
        font-size: 15px;
        font-weight: 400;
    }

    .navlinks button{
        padding: 5px  30px;
    }

    .firstSection{
        flex-direction: column;
        padding: 8rem 4rem;
        width: 70%;
        gap:5rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section1Image img{
        width: 125%;
        margin-left: 0;
        margin-right: 0;
    }

    .thick2rightIcon {
        left: 79%;
        top: 13.5%;
        width: 12% ;
    }
    
    .line1LeftIcon {
       display: none;
    }

    .toggleButton1{
        padding: 10px  50px;
    }

    .modal-content{
        padding: 1rem  2rem;
    }

    #middleSection{
        padding:  6rem  4rem;
        gap: 10px; 
    }

    .secondSectionTxt h1{
        font-size: 25px;
        font-weight: 600;
    }

    .leftImageTag{
        width: 70%;
        margin-bottom: auto;
        margin-right: auto;
    }
    
    .leftImageTag img{
        width: 85%;
    }

    .countryLogo{
        gap: 0;
    }

    .thirdSection{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .thirdSection h1{
       width: 45%;
       font-size: 33px;
       font-weight: 600;
    }
    
    #layout1 p{
        padding: 15px  20px;
        font-size: 16px;
    }
    .whyUsSection2{
        width: 105%;
    }

    #layout2 p {
        padding:15px 8px;
        font-size: 17px;
    }

    .line1IconTag {
       display: none;
    }

    #finalSection{
       padding: 5rem  0;
    }

    .fourthSection1{
        margin: 50px  15px;
    }

    .footerLogoSection p{
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {

    .navlinks a{
        display: none;
    }

    .navlinks button{
        padding: 8px  40px;
    }
    
    .firstSection{
        width: 90%;
    }
    
    .section1Image img{
        width: 105%;
    }

    .thick2rightIcon {
        left: 77%;
        top: 14%;
        width: 14% ;
    }

    #middleSection{
        flex-direction: column;
        padding:  6rem  5rem;
        text-align: center;
        gap:50px;
    }

    .countryLogo img{
       margin-left: 20px;
    }

    .secondSectionTxt{
        width: 100%;
    }

    .secondSectionTxt h1{
        font-size: 30px;
        font-weight: 600;
    }

    .secondSectionTxt p{
       margin-bottom: 20px;
    }

    .leftImageTag{
        width: 70%;
        margin-bottom: 0;
        margin-right: 0;
    }
    
    .leftImageTag img{
        width: 90%;
    }

    .thirdSection h1{
       width: 80%;
       text-align: center;
       font-size: 33px;
       font-weight: 600;
    }

    .whyUsSection2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 95%;
    }

    #layout2 p {
        padding:15px 10px;
        font-size: 17px;
    }
    
    .footerLogoSection{
        text-align: center;
    }

    .footermedia p{
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px){
    
    .navbar{
        display: flex;
        padding: 1.5rem;
    }

    .navlinks button{
        padding: 8px  25px;
        font-size: 15px;
    }

    .navlinks{
        gap: 20px;
    }

    .firstSection{
        width: 100%;
    }

    .firstSection h1{
        font-size: 35px ;
    }

    .firstSection p{
        font-size: 15px;
    }
    
    .section1Image img{
        width: 120%;
    }

    .thick2rightIcon {
        left: 47%;
        top: 19%;
        width: 17% ;
    }

    #middleSection{
        text-align: start;
    }

    .secondSectionTxt{
        width: 105%;
    }

    .secondSectionTxt h1{
        font-size: 28px;
    }

    .secondSectionTxt h5{
        font-size: 17px;
        font-weight: 600;
    }


    .countryLogo img{
        margin-left: 0;
    }

    .leftImageTag{
        width: 100%;
    }

    .leftImageTag img{
        width: 105%;
    } 

    .thirdSection h1{
        width: 100%;
        font-size: 30px;
        text-align: start;
    }

    .whyUsSection1{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
    }

    #layout1 p{
        padding: 15px  20px;
        font-size: 16px;
    }

    .whyUsSection2{
        width: 100%;
        gap: 10px;
    }

    #layout2 p {
        padding:15px  3px;
        font-size: 13px;
    }

    
    #finalSection{
        padding: 5rem  1rem;
    }

    #footerSection {
        padding: 5rem 1rem 5px;
        gap: 20px;
    }

    .topCopyRight{
        display: none;
    }

    #footerSection{
        flex-direction: column;
    }

    .bottomCopyright, .horizontalRule{
        display: block;
        text-align: center;
    }

    .horizontalRule{
        height: 0.5px;
        width: 100%;
        background-color: rgb(190, 190, 190);
        margin-bottom: 5px;
    }

    .footermedia a{
        margin-right: 10px;
    }
}

@media screen and (max-width:375px) {
    .navlinks{
        gap: 20px;
    }

    .navlinks button{
        padding: 5px  10px;
        font-size: 15px;
    }

    .navbar{
        display: flex;
        padding: 1rem;
    }

    .firstSection {
        padding: 8rem 2rem;
    }

    .thick2rightIcon {
        left: 65%;
        top: 20%;
        width: 25%;
    }

    .toggleButton1{
        padding: 10px  20px;
        margin-right: 0px;
    }

    .toggleButton2{
        padding: 10px  10px;
        font-size: 16px;
        margin-left: 5px;
    }

    .modal-content{
        padding: 1rem  1rem;
    }

    .section1Image{
        width: 100%;
    }

    .section1Image img{
        width: 110%;
    }

    #middleSection{
        text-align: none;
        padding: 6rem 3rem;
    }

    .secondSectionTxt{
        width: 100%;
    }

    .secondSectionTxt h1{
        font-size: 27px;
    }

    .leftImageTag{
        width: 130%;
        padding-right: 20px;
    }

    .countryLogo{
        gap: 5px;
    }
    
    .countryLogo img{
       padding: 5px;
    }

    .thirdSection{
        padding-left: 1.5rem;
    }

    .thirdSection h1{
        width: 120%;
        font-size: 25px;
        font-weight: 700;
    }

    .whyUsSection1{
        width: 100%;
        gap: 15px;
    }

    #layout1 p{
        padding: 20px  30px;
        font-size: 16px;
    }

    .whyUsSection2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 100%;
    }

    #layout2 p {
        padding:25px;
        font-size: 16px;
    }

    
    #finalSection{
        padding: 5rem  0;
    }

    .fourthSectionTxt h1 {
        font-size: 30px;
    }

    .pl-2 {
        padding-right: 0;
        padding-left: 0;
        padding-top: 2rem;
    }

    .pl-2 img{
        margin-bottom: 10px;
    }

    .fourthSection1 p{
        margin-top: 0px;
        padding: 0 20px;
        font-size: 16px;
    }
}